In [1]:
import pandas as pd
import numpy as np

In [7]:
bike = pd.read_csv("bike.csv")
bike

       power  kms_driven  age   price  owner
0        110       17654    3   35000      1
1        350       11000    4  119900      1
2        675         110    8  600000      1
3        180       16329    4   65000      1
4        150       10000    3   80000      1
...      ...         ...  ...     ...    ...
32643    100       22000    4   39000      1
32644    180        6639    9   30000      1
32645    220       20373    6   60000      1
32646    125       84186   16   15600      1
32647    150       60857   13   22000      1

[32648 rows x 5 columns]

In [8]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   power       32648 non-null  int64
 1   kms_driven  32648 non-null  int64
 2   age         32648 non-null  int64
 3   price       32648 non-null  int64
 4   owner       32648 non-null  int64
dtypes: int64(5)
memory usage: 1.2 MB

In [9]:
#Feature Matrices
X = bike.drop("price", axis=1)
y = bike["price"]

#Spliting into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9649956614671346